 /* 
 Name : Devarsh Patel
 File : style.css
 Date : 2024-06-21
 Description: Typesetting a community school homepage exercise for MDN exercise :https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Typesetting_a_homepage 
 */

/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */