/* 
Name : Devarsh Patel
File : style.css
Date : 2024-06-18
Description: A cool-looking box exercise for MDN exercise : https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/A_cool_looking_box  
*/
html {
  font-family: sans-serif;
}

/* Your CSS below here */